@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

/* header menu */
.headerbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    gap: 20px;
}

.logo{
    width: 50px;
}

.h1{
    color: white;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: wheat;
}

/* dark */

.switch {
    --circle-dim: 1.4em;
    font-size: 13px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
  }
  
  .slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
  }
  
  .slider-card-front {
    background-color: #DC3535;
  }
  
  .slider-card-back {
    background-color: #379237;
    transform: rotateY(180deg);
  }
  
  input:checked ~ .slider-card .slider-card-back {
    transform: rotateY(0);
  }
  
  input:checked ~ .slider-card .slider-card-front {
    transform: rotateY(-180deg);
  }
  
  input:checked ~ .slider-card {
    transform: translateX(1.5em);
  }
  
  input:checked ~ .slider {
    background-color: #9ed99c;
  }

/* submenu*/
.hamburger {
    display: none;
    height: 50px;
    width: 50px;
    transform: 0.2s;
    position: relative;
  }
  .hamburger .checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .line {
    transition: 0.5s;
    stroke-width: 6px;
    stroke: black;
  }
  .lineTop {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 25;
  }
  .lineBottom {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 60;
  }
  .lineMid {
    stroke-dasharray: 40 40;
  }
  .hamburger .checkbox:checked + svg .line {
    stroke: crimson;
  }
  .hamburger .checkbox:checked + svg .lineTop {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(45deg) translate(-7px, -5px);
  }
  .hamburger .checkbox:checked + svg .lineMid {
    stroke-dashoffset: 40;
  }
  .hamburger .checkbox:checked + svg .lineBottom {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(-45deg) translate(-5px, 5px);
  }
  
/* main y section */
.main-principal{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.section-1{
  margin-top: 50px;
  margin-bottom: 50px;
}

.content-1{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 120px;
  border-radius: 100px;
}

.disponible{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  font-size: 1.1rem;
  text-align: center;
  color: #16423C;
  background-color: coral;
  width: 200px;
}

.parrafo{
  color: whitesmoke;
}

/* section-1 */


/* certificado */
.main-certificados{
  display: flex;
  align-items: center;
  justify-content: center;
}

.h2-3{
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 900;
}

.content-certificados{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.certificado-sololear{
  width: 271px;
}

.certificado{
  width: 250px;
}

.certificado-cotemag{
  width: 238px;
}

/* footer */
.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container{
  margin-top: 50px;
  margin-bottom: 20px;
}

.parrafo-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
}

.contacto{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactos{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #536493;
  list-style: none;
  text-align: center;
  text-decoration: none;
}