@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

body{
  background-color: #0B192C;
}

html {
  scrollbar-width: thin; 
  scrollbar-color: #4A628A #f1f1f1; 
}


::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}


/* header */
.header{
  display: flex;
  align-items: center;
  justify-content: space-around
}

.img-text{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-dev{
  width: 60px;
}

.h1{
  color: whitesmoke;
  font-size: 2.5rem;
  font-weight: 900;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 25px;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.content:hover{
  color: #FF8225;
}

/* Botón de hamburguesa */
.menu-btn {
  display: none;
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  color: white;
  border-radius: 5px;
}

/* Menú lateral */
.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  transition: 0.3s;
  z-index: 999;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.side-menu ul li {
  padding: 20px;
  text-align: center;
}

.side-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.side-menu ul li a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #173B45;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
}

.side-menu.active {
  left: 0;
}

/* main */
.parrafo1{
  color: wheat;
  margin-top: 10px;
}

.contenedor-perfil{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}

.perfil-1{
  width: 500px;
}

.perfil-richard{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 15px;
}

.richard{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px;
  border-radius: 100px;
  border: solid 2px white;
}

.richard-h2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 25px;
}

/* contactos */
.modo-contacto{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

.enlace-contacto{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: #FF8225;
  width: 170px;
  height: 45px;
  color: white;
  gap: 10px;
  border-radius: 10px;
}

.enlace-contacto:hover{
  background-color: #FFDC7F;
  color: black;
}

.contactos{
  width: 40px;
}

/* skill */

.skills {
  margin-top: 250px;
  margin-bottom: 250px;
  margin-left: 300px;
  text-align: center;
  max-width: 1200px;
  width: 100%;
}

h2 {
  margin-bottom: 30px;
  font-size: 36px;
  color: #f8c471;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill-box {
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 20px;
  transition: transform 0.3s ease;
}

.skill-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: white;
}

.skills-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.skills-icons img {
  width: 60px;
  transition: transform 0.3s ease;
}

.skills-icons img:hover {
  transform: scale(1.2);
}

/* proyectos */
.section-proyectos{
  margin-top: 100px;
  margin-bottom: 100px;
}

.contenedor-proyesto{
  display: flex;
  align-items: center;
  justify-content: center;
}

.h2-proyecto{
  text-align: center;
}

/* certificados */
.contenedor-certificados{
  margin-top: 50px;
  margin-bottom: 50px;
}

.h2-certificado{
  color: #f8c471;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contenedor-certificado{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.imagenes-certificados{
  width: 350px;
}

.imagenes-certificados-1{
  width: 380px;
}

/* footer */
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-parrafo{
  margin-top: 40px;
  margin-bottom: 40px;
  color: wheat;
}

/* responsivo */
@media (max-width: 768px) {
  .logo-dev{
    margin-left: 500px;
  }

  h1{
    display: none;
  }

  .navbar{
    display: none;
  }

  .menu-btn{
    display: flex;
  }

  /* contacto */
  .main-1{
    display: grid;
    margin-bottom: 100px;
  }

  .contenedor-perfil{
    margin-top: 10px;
    margin-left: 40px;
  }

  .perfil-richard{
    display: grid;
    margin-left: 100px;
  }

  .richard{
   display: grid;
   margin-left: 100px;
  }

  .richard-h2{
    display: grid;
    text-align: center;
  }

  .modo-contacto{
    display: grid;
  }

  .contenedor-parrafo{
    margin-left: 20px;
  }

  .enlace-contacto{
    width: 350px;
    margin-left: 50px;
  }

  .parrafo1{
    width: 400px;
    margin-left: 50px;
  }

  .perfil-1{
    display: none;
  }

  /* skill */
  .skills {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 10px;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  /* certificados */
  .section-certificados{
    display: grid;
  }

  .contenedor-certificado{
    display: grid;
    flex-direction: column;
    align-items: center;
  }

  .h2-certificado{
    text-align: center;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .imagenes-certificados-1{
    width: 400px;
  }

  .imagenes-certificados{
    width: 400px;
  }

  /* footer */
  .footer-parrafo{
    font-size: 0.7rem;
    margin-left: 45px;
    font-weight: 800;
  }
}